.chatPageContainer {
  width: 100%;
  height: calc(100vh - 110px);
  overflow: auto;
}

.chatLayout {
  display: grid;
  grid-template-columns: 350px 1fr; 
  height: 100%;
  background-color: var(--white);
}

.conversationList {
  height: 100%;
  overflow-y: auto;
}

.chatWindow {
  height: 100%;
  overflow-y: auto;
}