.chatPageContainer {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.chatLayout {
  display: grid;
  grid-template-columns: 350px 1fr; 
  height: 100%; // Chiếm toàn bộ chiều cao của container cha
  background-color: var(--white);
  border-top: 1px solid var(--very-light-gray); // Thêm đường kẻ ngăn cách với Header
}