.dashboardLayout {
  display: flex;
  min-height: 100vh;
  background-color: var(--skeleton-color1);
}

.mainContent {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto; // Cho phép cuộn nếu nội dung dài
}